body,html{
    height:100%;
    
}
.app{
  background-image:url(./components/images/background.jpg);
  background-position:center center;
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-color:#909090;
  
  height: 100vh;
  width:100vw;
  overflow: auto;
  /* height:calc100vh; */
}
